// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #1976d2;
$secondary: red;
$accent: #9c27b0;
$whiteField: #e2e1e1;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// @import "~quasar-variables-styl";
