@import './quasar.variables.scss';
@import './animation.scss';
// @import '~quasar-styl';
// @import '~quasar-addon-styl';

$dark: #2c4159;
$docolor: #008ad1;
$taskcolor: #6dae50;

:root {
	// quasar colors
	--q-primary: #2196f3;
	--q-primary-hsl: 207, 90%;

	--q-primary-lighten-1: hsl(207, 90%, 75%);
	--q-primary-lighten-2: hsl(207, 90%, 84%);
	--q-primary-lighten-3: hsl(207, 90%, 91%);

	--q-primary-darken-1: hsl(207, 90%, 45%);
	--q-primary-darken-2: hsl(207, 90%, 35%);
	--q-primary-darken-3: hsl(207, 90%, 25%);

	--q-secondary: #26a69a;
	--q-accent: #9c27b0;
	--q-positive: #4caf50;
	--q-negative: #c10015;
	--q-info: #7ea1f9;
	--q-warning: #ffb029;
	--q-dark: #0d0b09;

	// custom colors
	--one: rgb(33, 150, 243);
	--two: rgb(230, 0, 0);
	--three: rgb(125, 0, 230);
	--four: rgb(36, 106, 45);

	// backgrounds
	--bg-light: 237, 237, 237;
	--bg-gradient: linear-gradient(
		to bottom,
		rgb(var(--bg-light)) 20%,
		hsl(27, 100%, 96%) 50%,
		rgb(var(--bg-light)) 80%
	);
	--bg-main: var(--bg-gradient);
	--bg-drawer: hsl(0, 0%, 96%);
	--my-border-color: #0000001f;

	// fonts
	--my-body-font-size: 14px;
	--text-color: rgba(0, 0, 0, 0.8);
	--q-link: #288bdc;
}

body {
	font-size: var(--my-body-font-size);
	color: var(--text-color);
}

a:link:not(.q-link),
a:visited:not(.q-link) {
	text-decoration: none;
	color: var(--q-link);
}
a:hover:not(.q-link) {
	text-decoration: underline;
}
// Light theme ****************************************

body.body--light {
	background: rgb(var(--bg-light));
	background-attachment: fixed;
	--q-selection: var(--q-primary-lighten-3);
}

// Dark theme ****************************************

body.body--dark {
	--bg-dark: #0d0b09;
	--bg-drawer: var(--my-color-step-100);

	background: var(--bg-dark);
	color: var(--dark-text-color);
	--text-color: var(--dark-text-color);

	--my-color-selection: #5c4328;
	--my-background-color-rgb: 13, 11, 9;
	--dark-text-color: #a78f75;
	--my-border-color: var(--my-color-step-200);

	--my-color-step-50: #1e1915;
	--my-color-step-100: #29221c;
	--my-color-step-150: #362d25;
	--my-color-step-200: #4b4034;
	--my-color-step-250: #4d4135;
	--my-color-step-300: #4d4d4d;
	--my-color-step-350: #796653;
	--my-color-step-400: #85715d;
	--my-color-step-450: #937d67;
	--my-color-step-500: #9e8a75;
	--my-color-step-550: #a79481;
	--my-color-step-600: #b1a190;
	--my-color-step-650: #baab9c;
	--my-color-step-700: #c4b8ab;
	--my-color-step-750: #cfc4ba;
	--my-color-step-800: #d9d1c9;
	--my-color-step-850: #e2dbd5;
	--my-color-step-900: #ece8e4;
	--my-color-step-950: #f5f2f0;
	--my-item-background: #241f19;
	--my-toolbar-background: #241f19;
	--my-tab-bar-background: #241f19;
	--my-card-background: #241f19;

	.q-drawer,
	.q-header {
		border-color: var(--my-border-color);
		color: var(--text-color);
	}
	.q-item {
		color: var(--text-color) !important;
	}
	--q-selection: var(--my-color-step-200);

	.q-card {
		background: var(--my-color-step-100);
		// border: 1px solid var(--my-border-color);
		color: var(--text-color);
	}
	.q-drawer {
		background: var(--bg-drawer);
		.fill {
			--q-selection: var(--q-primary-lighten-1);
			background: var(--q-primary);
			color: #fff !important;
		}
	}
}

// End Dark theme ****************************************

.q-toolbar .q-avatar {
	font-size: 36px;
}
.q-drawer {
	background: var(--bg-drawer);
	.fill {
		--q-selection: var(--q-primary-lighten-1);
		background: var(--q-primary);
		color: #fff;
	}
}

// my custom colors style
.one {
	--q-primary: var(--one) !important;
}
.bg-one {
	background: var(--one);
}
.two {
	--q-primary: var(--two) !important;
}
.bg-two {
	background: var(--two);
}
.three {
	--q-primary: var(--three) !important;
}
.bg-three {
	background: var(--three);
}
.four {
	--q-primary: var(--four) !important;
}
.bg-four {
	background: var(--four);
}
// .fill {
// 	--bq-drawer: var(--q-primary);
// 	// --q-primary: 200, 0, 0;
// 	// --q-dark: 0, 0, 0;
// 	// background: rgb(var(--q-primary));
// 	.q-item,
// 	.q-btn {
// 		color: #fff;
// 	}
// 	.q-item--active,
// 	.q-item.q-router-link--active {
// 		background: rgba(var(--q-dark), 0.2);
// 	}
// }

// --color-light: 0, 0%;
// --l: 95%;
// --bg-light: hsl(var(--color-light), var(--l));
// --bg-lighter: hsl(0, 0%, 97%);
// --bg-darken: darken(#f3f3f3, 5%);
// --font-light: #333;
// --warm-light: #fef1f1;
// --cool-light: #f1f9fe;
