@import './quasar.variables.scss';
@import './animation.scss';
// @import '~quasar-styl';
// @import '~quasar-addon-styl';

$dark: #2c4159;
$docolor: #008ad1;
$taskcolor: #6dae50;

:root {
	--bg-light: #f3f3f3;
	--bg-dark: #333;
	--font-light: #333;
	// --q-dark: #2c4159;
}
body.body--dark {
	--font-light: yellow;
}

.q-toolbar .q-avatar {
	font-size: 36px;
}
.q-drawer {
	color: #fff;
	transition: 0.3s ease all;
	.dark {
		background: $dark;
		.q-item--active,
		.q-item.q-router-link--active {
			color: #fff;
			background: lighten($dark, 6%);
		}
	}
	.doc {
		background: $docolor;
		.q-item--active,
		.q-item.q-router-link--active {
			color: #fff;
			background: darken($docolor, 6%);
		}
	}
	.task {
		background: $taskcolor;
		.q-item--active,
		.q-item.q-router-link--active {
			color: #fff;
			background: darken($taskcolor, 6%);
		}
	}
}
