// page transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
	position: absolute;
}
.fade-leave-to {
	opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
	transition: all 0.5s ease;
	position: absolute;
}
.slide-right-enter-from,
.slide-right-leave-to {
	transform: translateX(30px);
	opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active {
	transition: all 0.5s ease;
	position: absolute;
}
.slide-left-enter-from,
.slide-left-leave-to {
	transform: translateX(-30px);
	opacity: 0;
}
.slide-top-enter-active,
.slide-top-leave-active {
	transition: all 0.5s ease;
	position: absolute;
}
.slide-top-enter-from,
.slide-top-leave-to {
	transform: translateY(-30px);
	opacity: 0;
}
.slide-bottom-enter-active,
.slide-bottom-leave-active {
	transition: all 0.5s ease;
	position: absolute;
}
.slide-bottom-enter-from,
.slide-bottom-leave-to {
	transform: translateY(30px);
	opacity: 0;
}
// this is animation for total in grid **********************************
.bottom-enter-active,
.bottom-leave-active {
	transition: all 0.3s;
}
.bottom-enter, .bottom-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(100px);
}
