body {
	font-size: var(--my-body-font-size);
	color: var(--text-color);
}

a:link:not(.q-link),
a:visited:not(.q-link) {
	text-decoration: none;
	color: var(--q-link);
}
a:hover:not(.q-link) {
	text-decoration: underline;
}
.q-toolbar .q-avatar {
	font-size: 36px;
}
.q-drawer {
	background: var(--bg-drawer);
	.fill {
		--q-selection: var(--q-primary-lighten-1);
		background: var(--q-primary);
		color: #fff;
	}
}
