body {
	font-size: var(--my-body-font-size);
	color: var(--text-color);
}

.container {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	@media screen and (max-width: 1900px) {
		max-width: 1200px;
		margin: 0 auto;
	}
}

a:link:not(.q-link),
a:visited:not(.q-link) {
	text-decoration: none;
	color: var(--q-link);
}
a:hover:not(.q-link) {
	text-decoration: underline;
}
.q-toolbar .q-avatar {
	font-size: 36px;
}
.q-drawer {
	background: var(--bg-drawer);
	.fill {
		--q-selection: var(--q-primary-lighten-1);
		background: var(--q-primary);
		color: #fff;
	}
}

// table styles **************************************
.q-table tbody .link td {
	color: var(--q-link);
	cursor: pointer;
}
// q-markup-table style - this is simple table
.q-table {
	tbody td {
		font-size: 0.9rem;
		position: relative;
		color: var(--text-color);
		white-space: normal;
	}
	thead {
		background-color: #0000001a;
		th {
			font-size: 0.7rem;
			text-align: left;
			border: 1px solid #fff;
			border-right: none;
			font-weight: 400;
		}
		th:first-child {
			border-right: none;
		}
		th:nth-child(2) {
			border-left: none;
		}
		th:last-child {
			border-right: 1px solid #fff;
		}
	}
	.small {
		margin: 0;
		padding: 0;
		width: 5px;
	}
	td.small {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjXLt27f/g4GBGBiiAM2ASjARVAAAxbBAFP9yoPgAAAABJRU5ErkJggg==)
			repeat;
		cursor: pointer;
		border-bottom-color: #fff;
	}
	.new td {
		font-weight: 600;
	}
	.new td.small {
		background: var(--q-primary);
	}
}
.q-table--dark,
.q-table--dark .q-table__bottom,
.q-table--dark td,
.q-table--dark thead th,
.q-table--dark thead,
.q-table--dark tr,
.q-table__card--dark {
	border-color: var(--my-border-color);
	background: var(--my-card-background);
	color: var(--my-text-color);

	th {
		background: var(--my-color-step-150);
	}
	th:last-child {
		border-right: 1px solid var(--my-border-color);
	}
	td.small {
		border-bottom-color: var(--my-border-color);
	}
}
.q-splitter--vertical > .q-splitter__separator {
	width: 2px;
	background: transparent;
}
.q-splitter__separator:hover,
.q-splitter__separator:active {
	border-left: 2px dotted black;
	// background: red;
}
.zag {
	color: black;
	text-align: left;
	font-size: 1.4rem;
}
.q-tab-panels {
	background: transparent;
}
.q-tab-panel {
	padding: 1rem 0;
}
.q-expansion-item__container {
	border-bottom: 1px solid #ccc;
	.q-card {
		background: transparent;
	}
}
.q-expansion-item {
	transition: 0.3s ease all;
	.q-item__label {
		color: var(--q-primary-darken-1);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
		transform: translateX(-13px);
	}
}
.q-expansion-item--expanded {
	background: #fff;
	border-radius: 6px;
	margin: 0.5rem;
	border: 1px solid var(--my-border-color);
	.q-expansion-item__container {
		border-bottom: none;
	}
}
